doctype html   
html(lang="en")

    head
        meta( charset="utf-8")
        title Test
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        section.form
            include ./mixin 
            .container
                h1 Voluptatem illo assumenda
                .form-content
                    .colym-1
                        p.form-date Start: <span>october 29<span/>
                        p.form-seats Remained: <span>15 seats<span/>
                        p.form-text Use the cross-platform SAS bandwidth, then you can calculate the mobile bandwidth!
                    .colym-2
                        span.text-span Labore qui et animi.
                        .price
                            p.price-number 4 900 ₽
                            p.price-discout -40% 
                                span until 28 december
                        p.month per month
                        span.past-prise_span installment plan without discount
                        p.past-prese 5000 ₽/month
                    .colym-3
                        form(action="#")
                                label
                                    input(type="email" placeholder='Your email')
                                label
                                    input(type="number" placeholder='Your phone')
                                label
                                    input(type="text" placeholder='Your name')
                                button.button-subscribe Subscribe
        script(src='./js/main.js' defer)
