@import '../../normalaze.scss';

@font-face{
    font-family: 'Helvetica Neue Bold', sans-serif;
    src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
}
@font-face{
    font-family: 'Helvetica Neue Medium', sans-serif;
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}
@font-face{
    font-family: 'Helvetica Neue Roman', sans-serif;
    src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
}
@font-face{
    font-family: 'Helvetica Neue Light', sans-serif;
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

$bacGrondColor: #1519ff;
$textCol: #676767;
$fontNelicanLignt: 'Helvetica Neue Light', sans-serif;
$fontNelicanMedium: 'Helvetica Neue Medium', sans-serif;
$fontNelicanRoman: 'Helvetica Neue Roman', sans-serif;
$fontNelicanBold: 'Helvetica Neue Bold', sans-serif;